:root {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #3a1126;
  --app-top-color: #f4d2e1;
  --app-bottom-color: #fffdfd;
  --app-background: linear-gradient(
    180deg,
    var(--app-bottom-color) 100%,
    var(--app-top-color) 100%,
    var(--app-bottom-color) 100%
  );
  // background: var(--app-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html,
body {
  background: var(--app-background);
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  min-width: 320px;
  position: fixed;
  inset: 0;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  /* Helps Safari top chrome blend into page background more naturally. */
  // background-color: var(--app-top-color);
  background-color: var(--app-bottom-color);
}

button,
input {
  font: inherit;
}
